<div class = "goals_index">
<h1 id = "goal_header"><%= @goal.title %></h1>
<p><%= @goal.description %></p>

<%= link_to "Edit", edit_goal_path(@goal) %> |
<%= link_to "Back to Goals", goals_path %>
</div>