.header{
    color:black;
    text-align:center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.text{
    color:black;
    text-align:center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color:grey;
}

.parent{
    display:flex;
    flex-direction: row;
    height:450px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.background-container{
    display: flex;               
    justify-content: center;      
    align-items: center;
    padding:0;

}
.background-image{
    background-image: image-url('pixil-frame-0.png');
    background-size: cover;         
    background-position: center center; 
    background-repeat: no-repeat;   
    height:410px;
    width:626px;
    border-style: inset;
    margin: 30px;
}
#hometask{
    background-image: image-url('scroll.png');
    background-size: cover;         
    background-position: center top; 
    background-repeat: no-repeat;
    resize: vertical;
    overflow: auto;
    display: inline;
    width: 800px;
    height: 800px;
    max-height:800px;
}

#class-header{
    font-size: 12px;
}
.task-header{
    font-size: 12px;
    color:black;
    text-align:center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top:80px;
}
#task-list{
    color:black;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 8px;  
    text-align: center;
    align-items: center;
    position:relative;
    top:80px;
}

.xp-container {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0; /* Light grey background */
    border-radius: 15px;
    margin-top: 10px;
    position: relative;
  }
  
  /* Actual progress bar */
  .xp-bar {
    height: 100%;
    background-color: lightblue; /* Green color for the progress bar */
    border-radius: 15px;
    transition: width 0.3s ease-in-out;
  }
  
  /* Optional: Add a label or text inside the bar */
  .xp-bar::after {
    content: "<%= @xp_progress.round %>%";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
  }